@{
    ViewBag.Title = "Create";
}
<style>
    .caption {
        width:70px;
    }
    .textbox {
        width:800px;
    }
</style>

<div>

    <form action="/News/Create" method="post">
        <table>
            <tr>
                <td class="caption">Title</td>
                <td class="textbox"><input style="width:100%;" type="text" value="" id="title" name="title" /></td>
            </tr> 
            <tr>
                <td class="caption">Content</td>
                <td class="textbox"><textarea style="width:100%; height:300px;"id="content" name="content"></textarea></td>
            </tr> 
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-default" value="Submit" /> </td>
            </tr>
        </table>
    </form>
</div>





