@model Weather.ViewModels.NewsModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>@Model.Title</div>
<div>@Model.Content</div>
<div>@Model.Date</div>
<div>@Model.AuthorName</div>


