@model Weather.ViewModels.UpdateNewsModel

@{
    ViewBag.Title = "Update";
}

<div>
    <form action="/News/Update" method="post">
        <input type="hidden" value="@Model.Id.ToString()" name="id" />
        <table>
            <tr>
                <td class="caption">Title</td>
                <td class="textbox"><input style="width:100%;" type="text" value="@Model.Title" id="title" name="title" /></td>
            </tr>
            <tr>
                <td class="caption">Content</td>
                <td class="textbox"><textarea style="width:100%; height:300px;" id="content" name="content">@Model.Content</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /> </td>
            </tr>
        </table> 
    </form>
</div>



